$govuk-global-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/all";
@import "node_modules/maplibre-gl/dist/maplibre-gl";
@import "src/assets/scss/_scrollable-container.scss";
@import "./step-by-step-nav.scss";
@import "./overrides";
@import "./components/dataset-navigation";
@import "./components/cookie-banner";
@import "./components/sub-navigation";
@import "./components/map";

.app-inset-text---error {
  border-left: 5px solid govuk-colour('red');
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;
  width: 500px;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__error {
    color: govuk-colour('red');
    font-weight: bold;
    white-space: normal;
    min-width: fit-content;
  }
}

.app-inset-text---warning {
  border-left: 5px solid govuk-colour('blue');
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__warning {
    color: govuk-colour('blue');
    font-weight: bold;
  }
}

.app-map {
  height: 500px;
  @include govuk-responsive-margin(6, $direction: "bottom");
}

.task-div {
  margin-bottom: 10px;
  padding: 10px;
}

.dataset-summary-grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: govuk-spacing(3);
  row-gap: govuk-spacing(6);
  align-items: stretch;
}

.dataset-summary-grid .govuk-summary-card {
  width: calc((100% / 3) - govuk-spacing(3));
}

.dataset-summary-grid .govuk-summary-card__title-wrapper {
  align-items: flex-start;
}

.govuk-summary-card__title {
  text-transform: capitalize;
}

.dataset-status {
  margin-bottom: govuk-spacing(6);

  display: flex;
  column-gap: govuk-spacing(6);
}

.dataset-status--item {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");

  padding: govuk-spacing(2) govuk-spacing(3);
  flex-grow: 1;
  flex-basis: 0;

  @include govuk-font($size: 24, $weight: bold);
}

.big-number {
  @include govuk-font($size: 80, $weight: bold);
  display: block;
}

.planning-data-actions {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  column-gap: govuk-spacing(2);
}

code,
code * {
  font-family: monospace;
}

.app-image-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(7);
}

.app-image-card--large {
  @include govuk-media-query($from: desktop) {
    flex-wrap: nowrap;

    .app-image-card__image-wrapper {
      max-width: 50%;
      margin-right: govuk-spacing(4);
    }
  }
}

.app-image-card__image-wrapper {
  width: 100%;
  margin: 0;
  @include govuk-responsive-margin(2, "bottom");
}

.app-image-card__text {
  *:last-child {
    margin-bottom: 0;
  }
}

.app-masthead {
  @include govuk-responsive-padding(2, "top");
  @include govuk-responsive-padding(6, "bottom");
  border-bottom: 1px solid govuk-colour("blue");
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
}

.app-masthead__title {
  color: govuk-colour("white");
  @include govuk-responsive-margin(6, "bottom");
}

.app-masthead__description {
  @include govuk-font(24);
  margin-bottom: 0;
  color: govuk-colour("white");
}

.app-masthead__image {
  display: none;

  @include govuk-media-query($from: desktop) {
    display: block;
    width: 100%;
    margin-top: govuk-spacing(3);
  }
}

.app-masthead__link,
.app-masthead__link:link,
.app-masthead__link:visited {
  color: govuk-colour("white");
}

.app-masthead__link:focus {
  color: govuk-colour("black");
}

.app-masthead__phase-banner--inverse {
  color: govuk-colour("white");
  margin-bottom: govuk-spacing(3);
  border-bottom: none;

  .govuk-phase-banner__content__tag {
    background-color: govuk-colour("white");
  }

  .govuk-phase-banner__text {
    color: govuk-colour("white");
  }

  .govuk-link {
    color: govuk-colour("white");

    &:focus {
      color: govuk-colour("black");
    }
  }

}

.padding-top {
  padding-top: 40px;
}

.dl-scrollable {
  max-width: 100%;
  overflow-x: auto;
  padding: 0px;
}

.dl-table {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh;
  width: 100%;
  margin-bottom: 0px;
  border-collapse: separate;

  th,
  td {
    padding: govuk-spacing(1) govuk-spacing(2);
  }
}

.dl-table__head {
  position: sticky;
  top: 0;
  z-index: 1;

  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);

  tr {
    background-color: govuk-colour("light-grey");
  }
}

.dl-table__header {
  border: 1px solid $govuk-border-colour;
  text-wrap: nowrap;
  background-color: govuk-colour("light-grey");
}

.dl-table__cell--error {
  border-left: govuk-spacing(1) solid $govuk-error-colour;
}

.app-content__markdown img {
  max-width: 100%;
}

.schema-issue {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.schema-issue p {
  padding: 0;
  margin: 0
}

code {
  padding: 2px;
}

code,
code * {
  font-family: monospace;
  background-color: govuk-colour("light-grey");
}

$app-secondary-button-colour: #00823b;
$app-secondary-button-hover-colour: darken($app-secondary-button-colour, 5%);
$app-secondary-button-background-colour: govuk-colour("white");
$app-secondary-button-hover-background-colour: govuk-colour("light-grey");

$app-quiet-button-colour: govuk-colour("dark-grey");
$app-quiet-button-hover-colour: darken($app-quiet-button-colour, 5%);

$app-hover-dark-background: #dddcdb;

.app-c-button--secondary-quiet {
  padding: (govuk-spacing(2) - $govuk-border-width-form-element) govuk-spacing(2); // s1
  border-color: $app-quiet-button-colour;
  color: $app-quiet-button-colour;
  background-color: $app-secondary-button-background-colour;
  box-shadow: none;

  &:link,
  &:visited,
  &:active,
  &:focus {
    color: $app-quiet-button-colour;
    background-color: $app-secondary-button-background-colour;
    text-decoration: none;
  }

  &:link:focus {
    color: $app-quiet-button-colour;
  }

  &:hover {
    border-color: $app-quiet-button-hover-colour;
    color: $app-quiet-button-hover-colour;
    background-color: $app-secondary-button-hover-background-colour;
    text-decoration: none;
  }

  &::before {
    content: none;
  }
}

.govuk-error-summary span.column-name {
  font-weight: bold;
}
