$govuk-global-styles: true;

@import "node_modules/govuk-frontend/dist/govuk/all";
@import "node_modules/@x-govuk/govuk-prototype-components/x-govuk/all";
@import "src/assets/scss/_scrollable-container.scss";

.app-inset-text---error {
  border-left: 5px solid govuk-colour('red');
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;
  width: 500px;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__error {
    color: govuk-colour('red');
    font-weight: bold;
    white-space: normal;
    min-width: fit-content;
  }


}
  
.app-inset-text---warning {
  border-left: 5px solid govuk-colour('blue');
  padding: govuk-spacing(1) govuk-spacing(2);
  margin: 0;

  .app-inset-text__value {
    margin-bottom: govuk-spacing(1);
  }

  .app-inset-text__warning {
    color: govuk-colour('blue');
    font-weight: bold;
  }


}
.app-map {
  height: 500px;
  @include govuk-responsive-margin(6, $direction: "bottom");
}