{% from "../components/table.html" import table %}
{% from "../components/dataset-navigation.html" import datasetNavigation %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance']) %}
{% set serviceType = 'Submit'%}
{% set pageName %}{{organisation.name}} - {{dataset.name}} - Dataset table{% endset %}

{% extends "layouts/main.html" %}


{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Organisations",
      href: '/organisations'
    },
    {
      text: organisation.name,
      href: '/organisations/' + organisation.organisation
    },
    {
      text: dataset.name | capitalize
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/_dataset-page-header.html" %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ datasetNavigation({
      active: "data",
      dataset: dataset,
      organisation: organisation,
      task_count: taskCount
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ table(tableParams) }}
  </div>
</div>

{% if pagination.items | length > 1 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Showing rows {{dataRange.minRow + 1}} to {{dataRange.maxRow}} of {{dataRange.totalRows}}</p>
    {{ govukPagination(pagination) }}
  </div>
</div>
{% endif %}

{% endblock %}