{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance']) %}
{% set serviceType = 'Manage' %}
{% set pageName = "Find your organisation" %}

{% extends "layouts/main.html" %}


{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Organisations"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">{{ pageName }}</h1>
  </div>
</div>

<div id="list-filter">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="govuk-!-margin-bottom-6" data-filter="form">
        <label class="govuk-label" for="filter-organisations-list">Search for an organisation</label>
        <input class="govuk-input" type="text" id="filter-organisations-list">
      </form>
    </div>
  </div>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="search_results">
      {% for datasetType, orgs in orgsByDataset %}
        <div class="govuk-grid-row js-filter-item" data-filter="block">
          <div class="govuk-grid-column-one-third">
            <h2 class="blockHeading govuk-heading-m">{{ datasetType | datasetSlugToReadableName(true) }}</h2>
            <span class="big-number">{{ orgs | length }}</span>
          </div>
          <div class="govuk-grid-column-two-thirds" data-filter="inner-block">
            {% for org in orgs %}
              <div class="js-filter-item" data-filter="item" data-filter-terms="{{ org.name }}">
                <a href="/organisations/{{ org.organisation }}" class="govuk-link govuk-!-display-block govuk-!-margin-bottom-2 govuk-!-font-size-19">{{ org.name }}</a>
                <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
              </div>
            {% endfor %}
          </div>
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          </div>
        </div>
      {% endfor %}


  
    </div>
  </div>

</div>



{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/js/list-filter.bundle.js"></script>
  <script>
    const listFilterSearchBox = document.getElementById('list-filter')
    new GOVUK.Modules.ListFilter(listFilterSearchBox).init()
  </script>
{% endblock %}