{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% extends "layouts/main.html" %}

{% set serviceType = 'Submit' %}
{% set pageName %}
    {{organisation.name}} - {{dataset.name}} - Get started
{% endset %}

{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Organisations",
      href: '/organisations'
    },
    {
      text: organisation.name,
      href: '/organisations/' + organisation.organisation
    },
    {
      text: 'Get started'
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{ organisation.name }}</span>
        <h1 class="govuk-heading-xl">{{ dataset.name }}</h1>
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">How to prepare and submit your {{ dataset.name }} data</h2>

    <div data-module="appstepnav" id="step-by-step-navigation" class="gem-c-step-nav js-hidden gem-c-step-nav--large"
      data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps"
      data-hide-all-text="Hide all steps">
      <ol class="gem-c-step-nav__steps">
        <li class="gem-c-step-nav__step js-step" id="prepare-your-data">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="1">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span
                      class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Prepare your data
              </span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-prepare-your-data-1">
            <p class="gem-c-step-nav__paragraph"><a
                href="https://www.planning.data.gov.uk/guidance/specifications/">Read the guidance to understand what
              data is required</a>. Start with
              the fields you already have, you can update and
              improve your data over time.</p>
          </div>

        </li>

        <li class="gem-c-step-nav__step js-step" id="check-data-specifications">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="2">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 2<span
                      class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Check your data meets the specifications
              </span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-check-data-specifications-2">
            <ol class="gem-c-step-nav__list " data-length="1">
              <li class="gem-c-step-nav__list-item js-list-item ">
                <p class="gem-c-step-nav__paragraph">
                  The <a href="{{ organisation | checkToolDeepLink(dataset) }}">check service</a> can help you understand
                  if
                  your data is ready to submit or if you need to change anything before you publish it on your website.
                </p>

                <p class="gem-c-step-nav__paragraph">You need to choose to provide your data in one of these file formats:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>CSV</li>
                  <li>GeoJSON</li>
                  <li>GML</li>
                  <li>GeoPackage</li>
                </ul>

                <p class="gem-c-step-nav__paragraph">Alternatively you can provide us with a URL.</p>

                <ol class="gem-c-step-nav__list " data-length="1">
                  <li class="gem-c-step-nav__list-item js-list-item ">
                    <a data-position="2.1" class="gem-c-step-nav__link js-link"
                      href="{{ organisation | checkToolDeepLink(dataset) }}">Check your data</a>
                  </li>
                </ol>
              </li>
            </ol>
          </div>

        </li>

        <li class="gem-c-step-nav__step js-step" id="publish-your-data">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="3">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 3<span
                      class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Publish your data
              </span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-publish-your-data-3">
            <p class="gem-c-step-nav__paragraph">Your data must be hosted on a URL the public can access (this is your
              data URL). </p>

            <p class="gem-c-step-nav__paragraph">You must link to that URL from a webpage about the data (your
              documentation URL).</p>

            <p class="gem-c-step-nav__paragraph">Your documentation URL needs to be on your official planning authority
              website, usually ending in gov.uk.</p>

            <p class="gem-c-step-nav__paragraph">It should also include a statement that the data is provided under the
              Open Government Licence.</p>
          </div>

        </li>

        <li class="gem-c-step-nav__step js-step" id="submit-your-data">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="4">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 4<span
                      class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Submit your data
              </span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-submit-your-data-4">
            <p class="gem-c-step-nav__paragraph">To submit your data URL, send an email to <a href="mailto:digitalland@communities.gov.uk.">digitalland@communities.gov.uk.</a></p>
            The email must include:
            <ul class="govuk-list govuk-list--bullet">
              <li>
                your full name
              </li>
              <li>
                the name of your planning authority
              </li>
              <li>
                a link to the webpage on your official planning authority website
              </li>
              <li>
                a link to the data URL
              </li>
            </ul>

            <p class="gem-c-step-nav__paragraph">
              We'll process your submission and add your dataset to the planning data platform.
            </p>

          </div>
        </li>

        <li class="gem-c-step-nav__step js-step" id="update-your-data">
          <div class="gem-c-step-nav__header js-toggle-panel" data-position="5">
            <h2 class="gem-c-step-nav__title">
              <span class="gem-c-step-nav__circle gem-c-step-nav__circle--number">
                <span class="gem-c-step-nav__circle-inner">
                  <span class="gem-c-step-nav__circle-background">
                    <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 5<span
                      class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                  </span>
                </span>
              </span>

              <span class="js-step-title">
                Update your data
              </span>
            </h2>
          </div>

          <div class="gem-c-step-nav__panel js-panel" id="step-panel-update-your-data-5">
            <p class="gem-c-step-nav__paragraph">
              Whenever the data changes, update it on your data URL. We will collect data from your data URL
              every day.
            </p>

            <p class="gem-c-step-nav__paragraph">
              Your data URL needs to remain the same, don’t change it when you make updates.
            </p>

          </div>

        </li>

      </ol>
    </div>

  </div>
</div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="/public/js/step-by-step-nav.bundle.js"></script>
    <script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.Gemstepnav($element).init()
    </script>
{% endblock %}
