{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance']) %}
{% set pageName %}{{organisation.name}} - {{dataset.name}} - Task list{% endset %}
{% set serviceType = 'manage' %}
{% set resubmitUrl %}/organisations/{{ organisation.organisation | urlencode }}/{{ dataset.dataset | urlencode
}}/get-started{% endset %}

{% extends "layouts/main.html" %}

{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/"
},
{
text: "Organisations",
href: '/organisations'
},
{
text: organisation.name,
href: '/organisations/' + organisation.organisation
},
{
text: dataset.name | capitalize
}
]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  {% include "includes/_dataset-page-header.html" %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">
      Error accessing data URL
    </h2>

    <p>There was an error accessing the data URL. Please check the URL is correct and your API is functioning correctly.
    </p>

    <h3 class="govuk-heading-m">Error details</h3>

    {{ govukSummaryList({
    rows: [
    {
    key: {
    text: "Data URL"
    },
    value: {
    html: '<code>' + errorData.endpoint_url + '</code>'
    }
    },
    {
    key: {
    text: "HTTP status"
    },
    value: {
    text: errorData.http_status
    }
    },
    {
    key: {
    text: "Last attempted access"
    },
    value: {
    text: errorData.latest_log_entry_date | govukDateTime
    }
    },
    {
    key: {
    text: "Last successful access"
    },
    value: {
    text: errorData.latest_200_date | govukDateTime
    }
    }
    ]
    }) }}

    <p>If your data URL has changed you can <a class="resubmit-link" href="{{ resubmitUrl }}">resubmit your data
        URL</a>.</p>

    <p>You should try to make sure your data URLs stay the same when you update your data so we can collect your data
      each night.</p>

  </div>
</div>


{% endblock %}