{% extends "layouts/main.html" %}

{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% from "../components/table.html" import table %}

{% set serviceType = 'Submit'%}

{% if issueEntitiesCount > 1 %}
  {% set pageName %}{{organisation.name}} - {{dataset.name}} - Issues (Page {{pageNumber}} of {{issueEntitiesCount}}){% endset %}
{% else %}
  {% set pageName %}{{organisation.name}} - {{dataset.name}} - Issues{% endset %}
{%endif%}

{% block beforeContent %}

{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Organisations",
      href: '/organisations'
    },
    {
      text: organisation.name,
      href: '/organisations/' + organisation.organisation | urlencode
    },
    {
      text: dataset.name | capitalize,
      href: '/organisations/' + organisation.organisation | urlencode + '/' + dataset.dataset | urlencode
    },
    {
      text: issueType | capitalize
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukBackLink({
      text: "Back to task list",
      href: '/organisations/' + organisation.organisation | urlencode + '/' + dataset.dataset | urlencode
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  {% include "includes/_dataset-page-header.html" %}
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukErrorSummary({
      titleText: errorSummary.heading if errorSummary.heading else 'There is a problem',
      errorList: errorSummary.items
    }) }}

    {% if geometries and geometries.length %}
      <div
        id="map"
        class="app-map"
        role="region"
        aria-label="Static map showing {{dataset.name}} for {{organisation.name}}.">
      </div>
    {% endif %}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% if tableParams.rows.length > 0 %}
      {{ table(tableParams) }}
    {% endif %}
  </div>
</div>


{% if pagination.items | length > 1 %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>Showing rows {{dataRange.minRow + 1}} to {{dataRange.maxRow}} of {{dataRange.totalRows}}</p>
    {{ govukPagination(pagination) }}
  </div>
</div>
{% endif %}

{% if issueSpecification %}
  {% set issueSpecificationInsetHtml %}
    <div>
      <h3 class="govuk-heading-m">{{ issueSpecification.field }}</h3>

      {% if issueSpecification.description %}
        {{ issueSpecification.description | govukMarkdown | safe }}
      {% endif %}

      {% if issueSpecification.guidance %}
        {{ issueSpecification.guidance | govukMarkdown | safe }}
      {% endif %}
    </div>
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        How to fix this issue
      </h2>

      <p class="govuk-body">Your dataset is missing the <strong>{{ issueSpecification.field }}</strong> column.</p>
      <p class="govuk-body">The <a href="{{ dataset.dataset | getDatasetGuidanceUrl }}" target="_blank" rel="noopener noreferrer">{{ dataset.name }}</a> guidance explains how to fix the issue:</p>
      {{ govukInsetText({
        html: issueSpecificationInsetHtml
      }) }}
    </div>
  </div>
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h3 class="govuk-heading-m">
      How to improve {{ organisation.name }}’s data
    </h3>

    <ol class="govuk-list govuk-list--number">
      <li>Fix the errors indicated</li>
      <li>Use the <a href="/check">check service</a> to make sure the data meets
        the standard</li>
      <li>Publish the updated data on the data URL</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if geometries and geometries.length %}
    <script>
      window.serverContext = {
        containerId: 'map',
        geometries: {{ geometries | dump | safe }},
        mapType: "static"
      }
    </script>
    <script src="/public/js/map.bundle.js"></script>
  {% endif %}
{% endblock %}
