{% extends "layouts/main.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% set pageName = organisation.name + " overview" %}
{% set serviceType = 'Manage' %}

{% block beforeContent %}
{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/overview/start"
    },
    {
      text: "Organisations",
      href: "/overview/organisations"
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="dataset-status">
      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithEndpoints}}/{{totalDatasets}}</span>
        datasets submitted
      </div>

      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithErrors}}</span>
        data URL with errors
      </div>

      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithIssues}}</span>
        datasets need fixing
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">Datasets</h2>
    <ul class="govuk-task-list">

      {% for dataset in datasets %}
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <h2 class="govuk-heading-m">
              <a class="govuk-link govuk-task-list__link"
                href="/organisations/{{ organisation.organisation }}/{{dataset.slug}}">
                {{dataset.slug | datasetSlugToReadableName}}
              </a>
            </h2>
            <div class="govuk-task-list__hint">
              {% if dataset.endpoint is null %}
                <p>Data URL not submitted</p>
              {% elif dataset.error %}
                <p>{{dataset.error}}</p>
              {% elif dataset.issue %}
                <p>{{dataset.issue}}</p>
              {% else %}
                <p>Data URL submitted</p>
              {% endif %}

            </div>
          </div>

          <div class="govuk-task-list__status">
            {% if dataset.endpoint is null %}
              {{govukTag({
                text: "Not submitted",
                classes: "govuk-tag--grey"
              })}}
            {% elif dataset.error %}
              {{govukTag({
                text: "Error",
                classes: "govuk-tag--red"
              })}}
            {% elif dataset.issue %}
              {{govukTag({
                text: "Needs fixing",
                classes: "govuk-tag--yellow"
              })}}
            {% else %}
              {{govukTag({
                text: "Live",
                classes: "govuk-tag--green"
              })}}
            {% endif %}
          </div>
        </li>
      {% endfor %}

    </ul>
  </div>
</div>

{% endblock %}