{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "components/deadlineNotice.html" import deadlineNotice %}
{% from "components/deadlineNoticeContent.html" import noticeHeading, noticeCardHint %}

{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance']) %}
{% set pageName = organisation.name + " overview" %}
{% set serviceType = 'Manage' %}

{% extends "layouts/main.html" %}


{% macro datasetItem(dataset) %}
<li class="govuk-task-list__item govuk-task-list__item--with-link" data-dataset="{{ dataset.dataset }}" data-dataset-status="{{ dataset.status }}">
  <div class="govuk-task-list__name-and-hint">
    <h3 class="govuk-heading-m">
      {% if dataset.status == 'Not submitted' %}
      <a class="govuk-link govuk-task-list__link"
         href="/organisations/{{ organisation.organisation }}/{{dataset.dataset}}/get-started">
        {{dataset.dataset | datasetSlugToReadableName}}
      </a>
      {% else %}
      <a class="govuk-link govuk-task-list__link"
         href="/organisations/{{ organisation.organisation }}/{{dataset.dataset}}/overview">
        {{dataset.dataset | datasetSlugToReadableName}}
      </a>
      {% endif %}
    </h3>
    <div class="govuk-task-list__hint">
      {% if dataset.notice %}
        <p>{{ noticeCardHint(dataset.notice, dataset.dataset) }}</p>
      {% elif dataset.status == 'Not submitted' %}
        <p>Endpoint URL not submitted</p>
      {% elif dataset.status == 'Error' %}
        {% if not dataset.error or dataset.error === '' %}
          <p>There was an error accessing the endpoint URL</p>
        {% else %}
          <p>{{ dataset.error }}</p>
        {% endif %}
      {% elif dataset.status == 'Needs improving' and dataset.authority == 'some' %}
        <p>Data is not from an authoritative source</p>
      {% elif dataset.status == 'Needs improving' %}
        {% set totalIssues = (dataset.issueCount or 0) + (dataset.endpointErrorCount or 0) %}
        <p>There {{ "is" | pluralise(totalIssues) }} {{ totalIssues }} {{ "issue" | pluralise(totalIssues) }} in this dataset</p>
      {% else %}
        <p>Endpoint URL submitted</p>
      {% endif %}
    </div>
  </div>

  <div class="govuk-task-list__status">
    {{govukTag({
    text: dataset.status,
    classes: dataset.status | statusToTagClass
    })}}
  </div>
</li>
{% endmacro %}

{% block beforeContent %}
{{ super() }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Organisations",
      href: "/organisations"
    },
    {
      text: organisation.name
    }
  ]
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ pageName }}
    </h1>

    {% for dataset in datasets.statutory %}
      {% if dataset.notice %}
        {{ deadlineNotice(dataset.dataset, dataset.notice, organisation) }}
      {% endif %}
    {% endfor %}

    {% for dataset in datasets.expected %}
      {% if dataset.notice %}
        {{ deadlineNotice(dataset.dataset, dataset.notice, organisation) }}
      {% endif %}
    {% endfor %}

    {% for dataset in datasets.prospective %}
      {% if dataset.notice %}
        {{ deadlineNotice(dataset.dataset, dataset.notice, organisation) }}
      {% endif %}
    {% endfor %}

  </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="dataset-status">
      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithEndpoints}}/{{totalDatasets}}</span>
        authoritative dataset{{ "s" if (datasetsWithEndpoints != 1) }} provided
      </div>

      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithErrors}}</span>
        error{{ "s" if (datasetsWithErrors != 1) }} accessing URLs
      </div>

      <div class="dataset-status--item">
        <span class="big-number">{{datasetsWithIssues}}</span>
        {{ "dataset" | pluralise(datasetsWithIssues) }} can be improved
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {% if datasets.statutory.length > 0 %}
    <div data-testid="datasetsMandatory">
      <h2 class="govuk-heading-m">Datasets {{ organisation.name }} must provide</h2>
      <p class="org-membership-info">You are required to make these datasets available under legislation. Using the Planning Data Platform to do this can help you to create and maintain authoritative, trustworthy data.</p>
      <ul class="govuk-task-list govuk-!-margin-bottom-8" data-reason="statutory">
        {% for dataset in datasets.statutory %}
          {{ datasetItem(dataset) }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if datasets.expected.length > 0 and isODPMember %}
    <div data-testid="datasetsExpected">
      <h2 class="govuk-heading-m">Datasets {{ organisation.name}} are expected to provide</h2>
      <p class="org-membership-info">We expect you to provide these datasets as a condition of your funding with the Open Digital Planning community.</p>
      <ul class="govuk-task-list govuk-!-margin-bottom-8" data-reason="expected">
        {% for dataset in datasets.expected %}
          {{ datasetItem(dataset) }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if datasets.prospective.length > 0 %}
    <div data-testid="datasetsProspective">
      <h2 class="govuk-heading-m">Datasets {{ organisation.name}} can provide</h2>
      <p class="org-membership-info">Your organisation is the authoritative source of this data. Providing this data to the platform helps ensure it is accurate and up to date.</p>
      <ul class="govuk-task-list" data-reason="prospective">
        {% for dataset in datasets.prospective %}
          {{ datasetItem(dataset) }}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  </div>
</div>

{% endblock %}
