$badgeBgColour: govuk-colour('red');

.app-c-dataset-navigation {
  background-color: govuk-colour('white');
  border-top: 1px solid govuk-colour('mid-grey');
}

.app-c-dataset-navigation__notification-badge {
  background-color: $badgeBgColour;
  border-radius: 10%;
  color: govuk-colour('white');
  text-align: center;
  padding: 2px 6px;
  font-size: 1rem;
  margin-left: 5px;
}
