{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/panel/macro.njk' import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/main.html" %}

{% set serviceType = 'Check' %}

{% if options.alreadyCollectingEndpoint %}
  {% set pageName = "Data checked" %}
{% elif options.requestId %}
  {% set pageName = "Provide your data" %}
{% else %}
  {% set pageName = "Publish your data" %}
{% endif %}

{% if options.deepLink %}
  {% set datasetOverviewHref = options.deepLink.referrer %}
{% elif options.orgId and options.dataset %}
  {% set datasetOverviewHref = "/organisations/" + options.orgId + "/" + options.dataset %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% set content %}

  ## What happens next

  {% if options.alreadyCollectingEndpoint %}

  We are already collecting data from your endpoint URL, so we will update your changes automatically.

  You do not need to submit your endpoint URL again.

  {% if datasetOverviewHref and options.dataset %}
<p><a class="govuk-link" href="{{ datasetOverviewHref }}">Return to {{ options.dataset | datasetSlugToReadableName }} overview</a></p>
  {% else %}
<p><a class="govuk-link" href="/">Return to Home</a></p>
  {% endif %}

  {% else %}

  {% if options.requestId %}

  ### 1. Make sure that your data is published on your website

  {% else %}

  ### 1. Publish data to your website

  {% endif %}

  Your webpage must include a:
  - link to the endpoint URL
  - summary of what the data is about
  - statement that the data is provided under the Open Government Licence

  {% if options.requestId %}

  ### 2. Provide your data

  You need to submit:

  - your full name
  - your work email address
  - the URL for your gov.uk website where you can view or select a link to view the data - called your 'source webpage URL'

  We will send you a confirmation email when we receive your data.

  <div class="govuk-button-group">
    <a class="govuk-button submit-link" href="/submit/lpa-details">Provide your data</a>
    {% if options.deepLink %}
      <a class="govuk-link" href="{{ options.deepLink.referrer }}">Return to {{ options.deepLink.dataset | datasetSlugToReadableName }} overview</a>
    {% else %}
      <a class="govuk-link" href="/">Return to Home</a>
    {% endif %}
  </div>

  {% else %}

  ### 2. Provide your data

  After you publish, you should [provide your data to the Planning Data Platform](/check/url).

  [Find out more about how to check and provide your data](/guidance)

  {% if options.deepLink %}
    <p><a class="govuk-link" href="{{ options.deepLink.referrer }}">Return to {{ options.deepLink.dataset | datasetSlugToReadableName }} overview</a></p>
  {% else %}
    <p><a class="govuk-link" href="/">Return to Home</a></p>
  {% endif %}

  {% endif %}

  {% endif %}

  ## Give feedback

  [Give feedback about this service]({{feedbackLink}}) (takes 30 seconds).
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: pageName
    }) }}

    {{content | govukMarkdown(headingsStartWith="l") | safe}} 

  </div>
</div>

{% endblock %}
