
{% from 'govuk/components/panel/macro.njk' import govukPanel %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/main.html" %}

{% set serviceType = 'Check' %}
{% set pageName = "You can now publish your data" %}

{% set content %}

  # What to do next

  ## 1: Publish your data to your website

  The page on your website must include:
  - a link to the data
  - a summary of what the data is about
  - a statement that the data is provided under the Open Government Licence

  ## 2: Send an email

  Send an email to [digitalland@communities.gov.uk](mailto:digitalland@communities.gov.uk).

  You must include:

  - your full name
  - the name of your local planning authority (LPA)
  - a link to a webpage containing the data on your LPA website

  Details about what to do next are also available [in the guidance](/guidance)

  {% if options.deepLink %}
    <p><a href="{{ options.deepLink.referrer }}">Return to {{ options.deepLink.dataset }} overview</a></p>
  {% else %}
    <p><a href="/">Return to Home</a></p>
  {% endif %}

  ## Give feedback

  [Give feedback about this service]({{feedbackLink}}) (takes 30 seconds).
{% endset %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: pageName
    }) }}

    {{content | govukMarkdown(headingsStartWith="l") | safe}} 

  </div>
</div>

{% endblock %}
