{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
Error: Unfortunately, we were unable to fulfill your request - {{ super() }}
{% endblock %}

{% block content %}
{% set errorMessage = err.message | default("An error occurred, please try again later.", true) %}
{{ govukErrorSummary({
          titleText: "There’s a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#bad-upload"
            }
          ]
}) }}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {# Display specific error details for certain errors else show error message if available #}
    {% if errorMessage == "SSL certificate verification failed" %}
      <p class="govuk-body" id="bad-upload" tabindex="-1">
        The link we’re trying to access is not loading using a secure connection. We could not verify the Secure Sockets Layer (SSL) certificate.
      </p>

      <p class="govuk-body">
        While it may open in some browsers, our security checks require a complete certificate chain.
      </p>

      <p class="govuk-body">You must make sure:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the URL includes an ’s’ as part of ‘https://'</li>
        <li>the website’s SSL certificate is correctly installed</li>
      </ul>

      <p class="govuk-body">Contact your IT team for support if you need it.</p>
    {% elif errorMessage == "The selected file must be a CSV, GeoJSON, GML or GeoPackage file" %}
      <p class="govuk-body" id="bad-upload" tabindex="-1">The URL returns a HTML webpage. This must be a data file.</p>

      <p class="govuk-body">Provide a direct link to the data file in one of the following formats:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>CSV</li>
        <li>GeoJSON</li>
        <li>GML</li>
        <li>GeoPackage</li>
        <li>ArcGIS</li>
        <li>WFS</li>
      </ul>

      <p class="govuk-body">Contact your IT team for support if you need it.</p>
    {% elif errorMessage == "The URL must be accessible" %}
      <p class="govuk-body" id="bad-upload" tabindex="-1">You must host the URL on a server which does not block access due to set permissions.</p>
      <p class="govuk-body" id="bad-upload" tabindex="-1">Contact your IT team for support if you need it, referencing a 'HTTP status code 403' error.</p>
    {% elif errorMessage == "URL must be the data layer" %}
      <p class="govuk-body" id="bad-upload" tabindex="-1">The URL you have provided is an ArcGIS link, which is not the data layer.</p>
      <p class="govuk-body" id="bad-upload" tabindex="-1">The link to the data layer ends with a forward slash, followed by a number. For example, /8.</p>
      <p class="govuk-body" id="bad-upload" tabindex="-1">If you believe you have provided the information correctly and the problem persists, contact us at <a
        href="mailto:digitalland@communities.gov.uk">digitalland@communities.gov.uk</a></p>
    {% else %}
      <p class="govuk-body" id="bad-upload" tabindex="-1">
        Error: {{ errorMessage }}
      </p>
    {% endif %}
    {# Specific case where we don't want duplication of contact reasons #}
    {% if errorMessage != "URL must be the data layer" %}
      <p class="govuk-body">Please <a href="/check/upload-method">try again</a> or <a
          href="mailto:digitalland@communities.gov.uk">contact support</a> if the problem persists.</p>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}