{% extends "layouts/main.html" %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% set pageName = 'What is your email address?' %}
{% block pageTitle %}{% if errors | length %}Error: {% endif %}{{ super() }}{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({ text: 'Back', href: '/check/url' }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors | length %}
      {{ govukErrorSummary({ titleText: 'There’s a problem', errorList: errors | toErrorList }) }}
    {% endif %}
    <form novalidate method="post">
      {{ govukInput({
        id: 'ip-information-email', name: 'ip-information-email',
        type: 'email', autocomplete: 'email', spellcheck: false,
        label: { text: pageName, classes: 'govuk-label--l', isPageHeading: true },
        hint: { text: 'We’ll only use this to send you the Planning Data platform IP addresses.' },
        value: values['ip-information-email'],
        errorMessage: { text: 'ip-information-email' | validationMessageLookup(errors['ip-information-email'].type) } if errors['ip-information-email']
      }) }}
      {{ govukButton({ text: 'Confirm' }) }}
    </form>
  </div>
</div>
{% endblock %}
