{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}

{% extends "layouts/main.html" %}

{% set serviceType = 'Check' %}
{% set pageName = 'Start' %}

{% block content %}


{% set content %}

  Use this service to check your:

  - Article 4 direction data
  - conservation area data
  - listed building data
  - tree preservation order data

  ## Before you start

  Your data must follow the [data specification](/guidance/specifications/).

  You need to choose to provide your data in one of these file formats:

  - CSV
  - GeoJSON
  - GML
  - GeoPackage

  Alternatively you can provide us with a URL.


  {{ govukButton({
    text: "Start now",
    href: "/check/dataset",
    isStartButton: true
  }) }}


{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{content | govukMarkdown(headingsStartWith="l") | safe}}
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
