{% extends "layouts/main.html" %}

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from 'govuk/components/error-message/macro.njk' import govukErrorMessage %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'components/dataset-banner.html' import datasetBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set serviceType = 'Check' %}
{% set pageName = 'URL' %}

{% set errorMessage = 'There\'s something wrong with your URL' %}

{% if 'url' in errors %}
  {% set error = true %}
  {% set errorMessage = 'url' | validationMessageLookup(errors['url'].type) %}
{% elif 'validationResult' in errors %}
  {% set error = true %}

  {% if errors['validationResult'].type == 'validationError' %}
    {% set errorMessage = options.validationError %}
  {% else %}
    {% set errorMessage = 'validationResult' | validationMessageLookup(errors['validationResult'].type) %}
  {% endif %}
{% endif %}

{% block pageTitle %}
  {% if error %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">

    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There’s a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#url"
            }
          ]
        }) }}
      {% endif %}
      <form novalidate method="post">
        {{ datasetBanner(options.lpa, options.datasetName) }}
        
        {{ govukInput({
          id: "url",
          name: "url",
          label: {
            text: pageName,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          value: data.check.url,
          errorMessage: {
            text: errorMessage 
          } if error else undefined
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% if 'url' in errors and errors['url'].type == 'restricted403' %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukDetails({
      summaryText: "Why couldn't we access your URL?",
      html: "<p>We received a response code 403 when trying to access this URL. This could mean:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>Your server has blocked our service from accessing this endpoint.</li>
        <li>The resource may require special permissions.</li>
      </ul>
      <p class='govuk-!-font-weight-bold'>What you can do:</p>
      <ul class='govuk-list govuk-list--bullet'>
        <li>Check the URL allows us to access this endpoint.</li>
        <li>Contact the data provider if the issue persists.</li>
      </ul>"
    }) }}
  </div>
</div>
{% endif %}
{% endblock %}