{% extends "layouts/main.html" %}

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/input/macro.njk' import govukInput %}
{% from 'govuk/components/error-message/macro.njk' import govukErrorMessage %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}
{% from 'components/dataset-banner.html' import datasetBanner %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set serviceType = 'Check' %}
{% set pageName = 'URL' %}

{% set errorMessage = 'There\'s something wrong with your URL' %}

{% if 'url' in errors %}
  {% set error = true %}
  {% set errorMessage = 'url' | validationMessageLookup(errors['url'].type) %}
{% elif 'validationResult' in errors %}
  {% set error = true %}

  {% if errors['validationResult'].type == 'validationError' %}
    {% set errorMessage = options.validationError %}
  {% else %}
    {% set errorMessage = 'validationResult' | validationMessageLookup(errors['validationResult'].type) %}
  {% endif %}
{% endif %}

{% block pageTitle %}
  {% if error %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-padding-bottom-4">

    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There’s a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#url"
            }
          ]
        }) }}
      {% endif %}
      <form novalidate method="post">
        {{ datasetBanner(options.lpa, options.datasetName) }}
        {{ govukInput({
          id: "url",
          name: "url",
          label: {
            text: pageName,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            html: '<p class="govuk-body">You must host the URL on a server which does not block access due to set permissions.</p><p class="govuk-body">Contact your IT team for support if you need it, referencing a \'HTTP status code 403\' error.</p>'
          } if ('url' in errors and errors['url'].type == 'restricted403') else undefined,
          value: data.check.url,
          errorMessage: {
            text: errorMessage 
          } if error else undefined
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
    </div>
  </div>
{% endblock %}