{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% extends "layouts/main.html" %}

{% set pageName = 'Cookie notice for Check and provide planning and housing data for England' %}
{% set serviceType = 'manage' %}
{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance', 'community', 'extract']) %}
{% set markdownContent %}

# Check and provide planning and housing data for England cookies notice

The Check and provide planning and housing data for England service puts cookies onto your computer to collect information about how you use the service. This helps us to:

* update and improve the service based on your needs
* remember the notifications you’ve seen so that we do not show them to you again

We do not collect any personal information that could be used to identify you. Read our [privacy notice](/privacy-notice/) to see what personal information we do collect.

## Essential cookies

Essential cookies are needed for the service to work. We do not need to ask for permission to use them.

{% endset %}

{% block content %}
    {{markdownContent | govukMarkdown(headingsStartWith="xl") | safe}}
{% endblock content %}
