{% extends "layouts/main.html" %}

{% from 'govuk/components/button/macro.njk' import govukButton %}
{% from 'govuk/components/radios/macro.njk' import govukRadios %}
{% from 'govuk/components/inset-text/macro.njk' import govukInsetText %}

{% set pageName = 'There’s a problem' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        {{values.dataset}}
      </span>
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        {% for issue, count in options.issueCounts %}
          <li>{{count}} issue, relating to {{issue}}</li>
        {% endfor %}
      </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">
      Errors
    </h2>
    <div class="app-scrollable-container">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for column in options.columnNames %}
              <th scope="col" class="govuk-table__header">{{column}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in options.rows %}
            <tr class="govuk-table__row">
              {% for columnName, column in row %}
              <td class="govuk-table__cell app-wrap">
                  {% if column.error %}
                    {{ govukInsetText({
                      classes: "app-inset-text---error",
                      html: '<p class="app-inset-text__value">'+column.value+'</p> <p class="app-inset-text__error">'+column.error +'</p>'
                    }) }}
                  {% else %}
                    {{column.value}}
                  {% endif %}
                </td>
              {% endfor %}
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukButton({
        text: "Upload a new version",
        href: "/upload"
      }) }}

    </div>
  </div>
{% endblock %}
