{% extends "layouts/main.html" %}
{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance', 'community', 'extract']) %}
{% set pageName = 'Extract' %}

{% block main %}
<div class="govuk-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-6">
  <h1 class="govuk-heading-xl">Extract your data</h1>
  <p class="govuk-body">Extract is a tool that turns your maps, PDFs and historic planning records into standardised
    planning data.</p>
  <p class="govuk-body">When you upload a document, the tool will:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>extract key information (like dates, locations and decisions) and format it into datasets</li>
    <li>trace boundaries drawn on maps and outline boundary areas</li>
    <li>match the boundary areas to coordinates</li>
  </ul>
  <p class="govuk-body">You can review and correct the data that the tool extracts before you export it.</p>
  <p class="govuk-body">We currently support:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>article 4 directions</li>
    <li>conservation areas</li>
    <li>tree preservation orders</li>
  </ul>
  <p class="govuk-body"><a href="https://extract.ai.gov.uk/" class="govuk-link">Find out more about Extract</a></p>
</div>
{% endblock %}