{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner %}

{% set serviceType = 'Manage' %}
{% set pageName = '' %}
{% set navigationItems = currentPath | getNavigationLinks(['organisations', 'guidance']) %}
{% block main %}
<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% set phaseBannerClasses = 'app-masthead__phase-banner--inverse' %}
        {% include "components/app-phase-banner.html" %}
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl app-masthead__title">{{ serviceName }}</h1>

        <p class="app-masthead__description govuk-body-l govuk-!-margin-bottom-4">
          The Planning Data platform is a single national platform that indexes the
          data and makes it available in a standardised
          format.
        </p>

        <p class="app-masthead__description govuk-body-l govuk-!-margin-bottom-4">
          You can use the service to check your data and provide it to us.
          We’ll add it to the Planning Data Platform.
          You must publish your data on your website before you provide it.
        </p>

        <p class="app-masthead__description govuk-body-l govuk-!-margin-bottom-4">
          Your data does not need to be complete or perfect to start.
          Any data we have from you means we can begin to index it and provide it on the platform.
          Start with what you have and improve it over time.
        </p>

        <p class="app-masthead__description govuk-body-l govuk-!-margin-bottom-4">
          <a href="/guidance" class="govuk-link app-masthead__link">Read the guidance to help you check and provide your data</a>
        </p>

        <a href="/organisations" role="button" draggable="false"
          class="govuk-button govuk-button--inverse govuk-!-margin-top-6 govuk-!-margin-bottom-0 govuk-button--start"
          data-module="govuk-button">
          Check and provide data
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
            viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
          </svg>
        </a>
      </div>

      <div class="govuk-grid-column-one-third-from-desktop">&nbsp;</div>
    </div>
  </div>
</div>
{{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Check your data</h2>

    <p class="govuk-body">The check tool can help you understand which issues you need to fix straightaway, and which issues you can fix later.</p>

    <p class="govuk-body">The tool will accept any of these formats:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>CSV</li>
      <li>GeoJSON</li>
      <li>GML</li>
      <li>GeoPackage</li>
    </ul>

    <p class="govuk-body">Alternatively you can use your endpoint URL (the URL of the data file or feed itself).</p>
    <p class="govuk-body">You do not need to publish your data on your website before you check it.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Provide your data</h2>

    <p class="govuk-body">Once you have published your data on your website, you can provide your data to the platform. We'll need your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>full name</li>
      <li>work email address</li>
      <li>endpoint URL</li>
      <li>webpage URL: the URL of the page on your website which contains information about the dataset and the link to your data</li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">View your data</h2>

    <p class="govuk-body">
      <a href="/organisations" class="govuk-link">Visit your organisation’s dashboard</a> anytime to clearly see the data you’ve supplied and the datasets you still need to provide.
    </p>

    <p class="govuk-body">For any live data, we’ll let you know what you can do to improve it.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Contribute to the data design process</h2>

    <p class="govuk-body">Information about how you can help with designing data and get involved in community events and discussions.</p>

    <p class="govuk-body"><a href="{{ dataDesignUrl }}" class="govuk-link">Contribute to the data design process</a></p>
  </div>

</div>
{% endblock %}
