{% extends "layouts/main.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% set pageName = 'LPA details' %}

{% block pageTitle %}
  {% if errors | length %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors | length %}
      {{ govukErrorSummary({
        titleText: "There’s a problem",
        errorList: errors | toErrorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      Which LPA are you submitting data for?
    </h1>

    <form novalidate method="post">

      {{
        govukInput({
          label: {
            text: "Local planning authority",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "lpa",
          name: "lpa",
          classes: "govuk-!-width-three-quarters",
          errorMessage: {
            text: 'lpa' | validationMessageLookup(errors['lpa'].type) 
          } if 'lpa' in errors,
          value: values.lpa
        })
      }}

      {{ govukInput({
        label: {
          text: "Full name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "name",
        name: "name",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'name' | validationMessageLookup(errors['name'].type) 
        } if 'name' in errors,
        value: values.name
      }) }}


      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "email",
        name: "email",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'email' | validationMessageLookup(errors['email'].type) 
        } if 'email' in errors,
        value: values.email
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}