{% extends "layouts/main.html" %}

{% from 'govuk/components/button/macro.njk' import govukButton %}

{% set pageName = 'Check your data before you continue' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>
      <p>{{options.buttonText}}</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p>{{options.rows.length}} rows can be published.</p>

      <div class="app-scrollable-container" s>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {% for header in options.headers %}
                <th scope="col" class="govuk-table__header">{{header}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for row in options.rows %}
              <tr class="govuk-table__row">
                {% for header in options.headers %}
                  <td class="govuk-table__cell app-wrap">
                      {% if row[header] %}
                        {{row[header]}}
                      {% endif %}
                  </td>
                {% endfor %}
              </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>

      {% if options.geometryKey %}
        <p>Here’s your data on a map:</p>
        <div id="map" class="app-map"></div>
      {% endif %}


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {% if options.geometryKey %}
    <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
    <script>
      window.serverContext = {
        containerId: 'map', 
        rows: {{ options.rows | dump | safe }}, 
        geometryKey: '{{options.geometryKey}}'
      }
    </script>
    <script src="/public/js/map.bundle.js"></script>
  {% endif %}
{% endblock %}
```
