{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}

{% set serviceType = 'Manage' %}
{% set pageName = '' %}

{% block content %}

{% set content %}

Use this service to submit or update:

- article 4 direction data
- conservation area data
- listed building data
- tree preservation order data

The submit and update service walks you through these steps: 
 

**1. Prepare data to the [data specifications](https://www.planning.data.gov.uk/guidance/specifications/)**
 

**2. Check your data conforms to specifications**    
You can check your datasets against the specifications, before you publish it on your website. 


**3. Publish data on your local authority website**    
Open Planning Data is an Open Data project. We're asking local planning authorities to publish their planning datasets on their website. Our system will collect the data nightly and present it at [planning.data.gov.uk](https://www.planning.data.gov.uk/).


**4. Update your data**    
You need to maintain a consistent URL for each dataset. As we collect data nightly, any updates made will be reflected. You will also have visibility of datasets you have submitted in a dashboard which will alert you to any issues or errors. 


## Before you start

You need to choose one of these file formats to submit your data for checking:

- CSV
- GeoJSON
- GML
- GeoPackage

Alternatively you can provide us with a URL.


{{ govukButton({
    text: "Start now",
    href: "/organisations",
    isStartButton: true
  }) }}
 
{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{content | govukMarkdown(headingsStartWith="l") | safe}}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ xGovukRelatedNavigation({
        sections: [{
          items: [
            {
              text: "Prepare data to the specifications",
              href: "https://www.planning.data.gov.uk/guidance/specifications/"
            },
            {
              text: "Publish data on your website",
              href: "https://www.planning.data.gov.uk/guidance/publish-data-on-your-website"
            }
          ],
          subsections: [{
            title: "Explore the topic",
            items: [{
              text: "Housing and planning",
              href: "/browse/performing-arts"
            }]
          }]
        }]
      }) }}
  </div>
</div>
{% endblock %}
