{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}

{% set serviceType = 'Manage' %}
{% set pageName = '' %}

{% block content %}

{% set content %}

The planning data platform centralises planning and housing data for England, making sure this data is consistent.
Freely available data plays an important part in reforming the planning system.

Use this service to submit or update your local planning authority’s data on the planning data platform.

The service will guide you through:

- preparing your data and check it meets the specifications
- publishing your data on your local authority website
- sharing your URL for the data to allow the platform to access and index it
- ways to improve your data and keep it up to date

{{ govukButton({
    text: "Start now",
    href: "/organisations",
    isStartButton: true
  }) }}

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{content | govukMarkdown(headingsStartWith="l") | safe}}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ xGovukRelatedNavigation({
        sections: [{
          items: [
            {
              text: "Prepare data to the specifications",
              href: "https://www.planning.data.gov.uk/guidance/specifications/"
            },
            {
              text: "Publish data on your website",
              href: "https://www.planning.data.gov.uk/guidance/publish-data-on-your-website"
            }
          ],
          subsections: []
        }]
      }) }}
  </div>
</div>
{% endblock %}