{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/main.html" %}

{% set pageName = 'Status' %}




{% block content %}

    id: {{ options.data.id }}
    <br>
    type: {{ options.data.type }}
    <br>
    status: {{ options.data.status }}
    <br>
    created: {{ options.data.created }}
    <br>
    modified: {{ options.data.modified }}
    <br>
    <h3>Params</h3>
    type: {{ options.data.params.type }}
    <br>
    collection: {{ options.data.params.collection }}
    <br>
    dataset: {{ options.data.params.dataset }}
    <br>
    url: {{ options.data.params.url }}
    <br>
    <h3>Response</h3>
    column-field-log: {{ options.data.response.data['column-field-log'] }}
    <br>
    error-summary: {{ options.data.response.data['error-summary'] }}
    <br>

    <form novalidate method="post">
        {{ govukButton({
            text: "Continue"
        }) }}
    </form>


{% endblock content %}
