{% extends "layouts/main.html" %}

{% set pageName = 'Your data will be changed when we publish it' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{pageName}}
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>20 geometries will be changed to make sure they’re located in England</li>
        <li>20 dates will be changed to YYYY-MM-DD format</li>
        <li>20 entry dates have been added and set to today</li>
        <li>Columns ‘Legislation’ and ‘Notes’ will be removed</li>
        <li>Column headings will become lowercase</li>
        <li>Column headings will be hyphenated</li>
      </ul>
    </div>
  </div>

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">
        Records that we’ll change
      </h2>

       <div class="app-scrollable-container">
        <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">reference</th>
            <th scope="col" class="govuk-table__header">name</th>
            <th scope="col" class="govuk-table__header">geometry</th>
            <th scope="col" class="govuk-table__header">start-date</th>
            <th scope="col" class="govuk-table__header">entry-date</th>
            {# <th scope="col" class="govuk-table__header">legislation</th> #}
            {# <th scope="col" class="govuk-table__header">Notes</th> #}
            <th scope="col" class="govuk-table__header">point</th>
            <th scope="col" class="govuk-table__header">end-date</th>
            <th scope="col" class="govuk-table__header">document-url</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for row in rows %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                {{row.Reference.value}}
              </td>
              <td class="govuk-table__cell">{{row.Name.value}}</td>
              <td class="govuk-table__cell app-wrap">
                {% if row.Geometry %}
                  {{ govukInsetText({
                    classes: "app-inset-text---warning",
                    html: '<p class="app-inset-text__value">'+row.Geometry.value+'</p> <p class="app-inset-text__warning">Geometry changed to make sure it’s located in England</p>'
                  }) }}
                {% else %}
                  {{row.Geometry.value}}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if row['Start date'] %}
                  {{ govukInsetText({
                    classes: "app-inset-text---warning",
                    html: '<p class="app-inset-text__value">'+row['Start date'].value+'</p> <p class="app-inset-text__warning">Date format changed</p>'
                  }) }}
                {% else %}
                  {{row['Start date'].value}}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                {% if row['Entry date'] %}
                  {{ govukInsetText({
                    classes: "app-inset-text---warning",
                    html: '<p class="app-inset-text__value">'+row['Entry date'].value+'</p> <p class="app-inset-text__warning">Entry date added and set to today</p>'
                  }) }}
                {% else %}
                  {{row['Start date'].value}}
                {% endif %}
              </td>
              {# <td class="govuk-table__cell">{{row.Legisliation.value}}</td> #}
              {# <td class="govuk-table__cell">{{row.Notes.value}}</td> #}
              <td class="govuk-table__cell app-wrap">{{row.Point.value}}</td>
              <td class="govuk-table__cell">{{row['End date'].value}}</td>
              <td class="govuk-table__cell">{{row['Document URL'].value}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      </div>
    </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form novalidate method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
