{% extends "layouts/main.html" %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from 'govuk/components/error-message/macro.njk' import govukErrorMessage %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}


{% set pageName = 'Upload data' %}

{% set errorMessage = 'Please select a file' %}


{% if 'validationResult' in errors %}
  {% set datasetError = true %}
{% endif %}

{% block pageTitle %}
  {% if datasetError %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if datasetError %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage,
              href: "#datafile"
            }
          ]
        }) }}
      {% endif %}
      <form novalidate method="post" enctype="multipart/form-data">

        {{ govukFileUpload({
          id: "datafile",
          name: "datafile",
          label: {
            text: pageName,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            text: "You can upload a CSV, GeoJSON, GML or Geopackage file"
          },
          value: values.datafile,
          errorMessage: {
            text: errorMessage 
          } if datasetError else undefined
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
