
{% extends "layouts/main.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set serviceType = 'Submit' %}
{% set pageName = (values['dataset'] | datasetSlugToReadableName) + " submitted" %}

{% block content %}

{% set content %}

## What happens next

We will process your submission and add your dataset to the [planning data platform](https://www.planning.data.gov.uk/).

Your dataset should appear on the platform within 5 working days.

If there are any issues processing your data will we contact you on the email address you provided.

[Add another dataset](/submit-endpoint/start)

## Give feedback

[Give feedback about this service](/feedback) (takes 30 seconds).

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: pageName
    }) }}

    {{content | govukMarkdown(headingsStartWith="l") | safe}}

  </div>
</div>

{% endblock %}
