
{% extends "layouts/main.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% set serviceType = 'Submit' %}
{% set pageName = (values['dataset'] | datasetSlugToReadableName) + " submitted" %}

{% block content %}

{% set content %}

## What happens next

We have sent an email confirmation to {{ values['email'] | replace('@', '&#64;') | safe }}. We will now process your submission and add your dataset to the [Planning Data Platform](https://www.planning.data.gov.uk/).

Your dataset should appear on the platform within 5 working days. We will email you when your data is live.

If there are any issues processing your data will we contact you on the email address you provided.

[Return to your dashboard](/organisations/{{ options.orgId }})

## Give feedback

[Give feedback about this service]({{feedbackLink}}) (takes 30 seconds).

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleHtml: pageName,
      html: "Your reference number<br><strong>" + values['reference'] + "</strong>"
    }) }}

    {{content | govukMarkdown(headingsStartWith="l") | safe}}

  </div>
</div>

{% endblock %}
