{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% set serviceType = 'Submit' %}
{% set pageName = 'Enter LPA details' %}

{% block pageTitle %}
  {% if errors | length %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors | length %}
      {{ govukErrorSummary({
        titleText: "There’s a problem",
        errorList: errors | toErrorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">
      {{pageName}}
    </h1>

    <form novalidate method="post">

      {{ xGovukAutocomplete({
        id: "lpa",
        name: "lpa",
        allowEmpty: false,
        label: {
          classes: "govuk-label--m",
          isPageHeading: false,
          text: "Choose your local planning authority"
        },
        items: options.localAuthorities,
        errorMessage: {
          text: 'lpa' | validationMessageLookup(errors['lpa'].type) 
        } if 'lpa' in errors,
        value: values.lpa
      }) }}

      {{ govukInput({
        label: {
          text: "Full name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "name",
        name: "name",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'name' | validationMessageLookup(errors['name'].type) 
        } if 'name' in errors,
        value: values.name
      }) }}


      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "email",
        name: "email",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'email' | validationMessageLookup(errors['email'].type) 
        } if 'email' in errors,
        value: values.email
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
