{% extends "layouts/main.html" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "x-govuk/components/autocomplete/macro.njk" import xGovukAutocomplete %}
{% from 'govuk/components/error-summary/macro.njk' import govukErrorSummary %}

{% set serviceType = 'Submit' %}
{% set pageName = "What are your contact details?" %}

{% block pageTitle %}
  {% if errors | length %}
    Error: {{super()}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock %}

{% set pageHeader %}
<span class="govuk-caption-l">{{ options.lpa }} — {{ options.datasetName }}</span>
<h1 class="govuk-heading-l">
  {{ pageName }}
</h1>
{% endset %}

{% block beforeContent %}
  {% set backLinkText %}
    Back to {{ options.datasetName }} overview
  {% endset %}
  {{ govukBackLink({
    text: backLinkText,
    href: "/organsations/" + options.orgId + "/" + options.datasetName + "/get-started"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errors | length %}
      {{ govukErrorSummary({
        titleText: "There’s a problem",
        errorList: errors | toErrorList
      }) }}
    {% endif %}

    {{ pageHeader | safe }}

    <form novalidate method="post">

      {{ govukInput({
        label: {
          text: "Your full name",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "name",
        name: "name",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'name' | validationMessageLookup(errors['name'].type) 
        } if 'name' in errors,
        value: values.name
      }) }}


      {{ govukInput({
        label: {
          text: "Work email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "email",
        name: "email",
        classes: "govuk-!-width-three-quarters",
        errorMessage: {
          text: 'email' | validationMessageLookup(errors['email'].type) 
        } if 'email' in errors,
        value: values.email
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
