{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}

{% set serviceType = 'Submit' %}
{% set pageName = 'Start' %}

{% block content %}

{% set content %}

Use this service to submit or update:

- Article 4 direction data
- conservation area data
- listed building data
- tree preservation order data

## Before you start

Your data must follow the [data specification](/guidance/specifications/).

You need to choose to provide your data in one of these file formats:

- CSV
- GeoJSON
- GML
- GeoPackage

Alternatively you can provide us with a URL.


<form novalidate method="post">
  {{ govukButton({
      text: "Start now",
      isStartButton: true
    }) }}
</form>

{% endset %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{content | govukMarkdown(headingsStartWith="l") | safe}}
  </div>
  <div class="govuk-grid-column-one-third">
    {{ xGovukRelatedNavigation({
        sections: [{
          items: [
            {
              text: "Prepare data to the specifications",
              href: "/guidance/specifications/"
            },
            {
              text: "Publish data on your website",
              href: "/guidance/publish-data-on-your-website"
            }
          ],
          subsections: []
        }]
      }) }}
  </div>
</div>
{% endblock %}
