port: 5000
asyncRequestApi: {
    url: https://publish-api.planning.data.gov.uk,
    port: 8082,
    requestsEndpoint: 'requests',
    requestTimeout: 50000
}
maintenance: {
    serviceUnavailable: false,
    upTime: "9am on Monday 19 November 2024"
}
aws: {
    region: eu-west-2,
    bucket: '',
    s3ForcePathStyle: false,
}
# ToDo: url and name might need updating
url: 'https://provide.planning.data.gov.uk'
mainWebsiteUrl: https://www.planning.data.gov.uk
dataDesignUrl: https://design.planning.data.gov.uk
downloadUrl: 'https://download.planning.data.gov.uk' 
# NOTE: this property is deprecated, use serviceNames instead
serviceName: 'Check and provide planning data'
# NOTE: the keys in this map are sometimes referred to as "serviceType" in the templates
serviceNames: {
    submit: 'Check and provide your planning data',
    check: 'Check your planning data',
    manage: 'Check and provide planning data'
}
datasetteUrl: 'https://datasette.planning.data.gov.uk'
checkService:
    # used as User-Agent header when checking the accessibility
    # of user supplied URLs
    userAgentInternal: 'GOVUK-Planning-Data:Provide'
    userAgent: 'GOVUK-Planning-Data'
templateContent:
    feedbackLink: 'https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqML0lOlr1nBLv1MaFDrnRRxURThTVTJBSDE0Sk45V1JJQlFSRDI2RzRBMy4u'
    homepageUrl: '/'
email: {
    templates: {
        RequestTemplateId: 'fa1c2b51-3c91-4f9d-9a18-83639164d552',
        AcknowledgementTemplateId: '2a4dff6d-78c4-4fea-a489-c97485453807'
    },
    dataManagementEmail: 'fakeemail@fakemail.com'
}
validations: {
    maxFileSize: 100000000
}
contact:
  issues:
    # description: should be used for general issues, e.g. if user lands on 404 doesn't know how to proceed
    email: digitalland@communities.gov.uk
datasetsConfig:
  article-4-direction:
    guidanceUrl: /guidance/specifications/article-4-direction
    entityDisplayName:
      base: article 4 direction
      variable: area
  article-4-direction-area:
    guidanceUrl: /guidance/specifications/article-4-direction
    entityDisplayName:
      base: article 4 direction
      variable: area
  brownfield-land:
    guidanceUrl: https://www.gov.uk/government/publications/brownfield-land-registers-data-standard/publish-your-brownfield-land-data
    entityDisplayName:
      base: brownfield land
      variable: site
  conservation-area:
    guidanceUrl: /guidance/specifications/conservation-area
    entityDisplayName:
      base: conservation
      variable: area
  conservation-area-document:
    guidanceUrl: /guidance/specifications/conservation-area
    entityDisplayName:
      base: conservation
      variable: area
  tree-preservation-order:
    guidanceUrl: /guidance/specifications/tree-preservation-order
    entityDisplayName:
      base: tree preservation
      variable: order
  tree-preservation-zone:
    guidanceUrl: /guidance/specifications/tree-preservation-order
    entityDisplayName:
      base: tree preservation
      variable: zone
  tree:
    guidanceUrl: /guidance/specifications/tree-preservation-order
    entityDisplayName:
      variable: tree
  listed-building-outline:
    guidanceUrl: /guidance/specifications/listed-building
    entityDisplayName:
      base: listed building
      variable: outline
  developer-agreement-transaction:
    guidanceUrl: https://www.gov.uk/guidance/publish-your-developer-contributions-data
    entityDisplayName:
      base: developer contributions
      variable: transaction
  developer-agreement:
    guidanceUrl: https://www.gov.uk/guidance/publish-your-developer-contributions-data
    entityDisplayName:
      base: developer contributions
      variable: document
  developer-agreement-contribution:
    guidanceUrl: https://www.gov.uk/guidance/publish-your-developer-contributions-data
    entityDisplayName:
      base: developer contributions
      variable: document
  infrastructure-funding-statement:
    guidanceUrl: https://www.gov.uk/guidance/publish-your-developer-contributions-data
    entityDisplayName:
      base: infrastructure funding statement
      variable: statement
# Any dataset that has one of these three previous rules set, will be displayed in the LPA Dashboard to be checked.
provisionReasons:
  - statutory
  - prospective  
  - expected
  - encouraged
tablePageLength: 50
jira: {
  requestTypeId: 28
}
features:
  submitEndpointForm:
    enabled: false
  checkIssueDetailsPage:
    # https://github.com/digital-land/submit/issues/786
    # enabling this feature will cause the results page to present
    # links to individual issue pages
    enabled: true
  expectationOutOfBoundsTask:
    # this feature includes violated 'out of bounds' expectations
    # as 'tasks' on LPA overview pages etc.
    # https://github.com/digital-land/submit/issues/921
    enabled: true
  provisionBasedDatasets:
    # This feature will load datasets based on provisionReasons
    enabled: false
  nonAuthPages:
    # This feature enables pages to show non-authoritative datasets
    # If off, it will still check for local-plan datasets.
    enabled: true
