asyncRequestApi: {
    url: http://production-pub-async-api-lb-636110663.eu-west-2.elb.amazonaws.com
}
aws: {
    region: eu-west-2,
    bucket: 'production-pub-async-request-files',
}
redis: {
    secure: true,
    host: 'production-pub-async-redis-eihmmv.serverless.euw2.cache.amazonaws.com',
    port: 6379
}
url: 'https://provide.planning.data.gov.uk/'
# smartlook: {
#   key: '6383ab27d6f6a02f043a518bea629cd232dc0131',
#   region: 'eu'
# }
googleAnalytics: {
  measurementId: 'G-F2H5SW06PZ'
}
jira: {
  requestTypeId: 28
}
features:
  submitEndpointForm:
    enabled: true
  checkIssueDetailsPage:
    # https://github.com/digital-land/submit/issues/786
    # enabling this feature will cause the results page to present
    # links to individual issue pages
    enabled: false
  expectationOutOfBoundsTask:
    enabled: false
  provisionBasedDatasets:
    # This feature will load datasets based on provisionReasons
    enabled: false
  nonAuthPages:
    # This feature enables pages to show non-authoritative datasets
    # If off, it will still check for local-plan datasets.
    enabled: false