{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./checkingFileMacro.html" import checkingFileContent %}
{% from "./fileCheckedMacro.html" import fileCheckedContent %}

{% extends "layouts/main.html" %}

{% set pageName = 'Status' %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" aria-live="assertive">
      {% if options.data.status == "COMPLETE" %}
        {{ fileCheckedContent() }}
      {% else %}
        {{ checkingFileContent() }}
      {% endif %}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukButton({
          text: "Check status" if options.data.status != "COMPLETE" else  "Continue",
          classes: "js-hidden" if options.data.status != "COMPLETE" else  "",
          id: "js-async-check-status-button"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    window.serverContext = {
      pollingEndpoint: "{{ params.pollingEndpoint }}",
      requestId: "{{ params.requestId }}",
    }
  </script>
  <script src="/public/js/statusPage.bundle.js"></script>
{% endblock %}
