{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "./checkingFileMacro.html" import checkingFileContent %}
{% from "./fileCheckedMacro.html" import fileCheckedContent %}

{% extends "layouts/main.html" %}

{% set pageName = 'Status' %}


{% if options.processingComplete %}
  {% set pageContent = fileCheckedContent() %}
  {% set buttonText = "Check status" %}
  {% set buttonClasses = "" %}
{% else %}
  {% set pageContent = checkingFileContent() %}
  {% set buttonText = "Continue" %}
  {% set buttonClasses = "js-hidden" %}
{% endif %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" aria-live="assertive">
      {{ pageContent }}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ govukButton({
          text: buttonText,
          classes: buttonClasses,
          id: "js-async-check-status-button"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    window.serverContext = {
      pollingEndpoint: "{{ params.pollingEndpoint }}",
      requestId: "{{ params.requestId }}",
    }
  </script>
  <script>
    window.addEventListener('load', () => {
      throw new Error('This is a test error')
    })
  </script>
  <script src="/public/js/statusPage.bundle.js"></script>
{% endblock %}
