{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk/template.njk" %}
{% from 'govuk/components/header/macro.njk' import govukHeader%}
{% from 'govuk/components/footer/macro.njk' import govukFooter%}
{% from 'govuk/components/phase-banner/macro.njk' import govukPhaseBanner%}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}

{% if serviceType %}
  {% set serviceName = serviceType | getFullServiceName  %}
{% endif %}

{% block pageTitle %}
  {% if pageName == "" %}
    {{ serviceName }}
  {% else %}
    {{ pageName }} - {{ serviceName }}
  {% endif %}
{% endblock %}

<!-- For now I'm adding this manual check as we want the service to go back to the start page of check, however we will eventually remove the check start page -->
{% if serviceType | lower == 'check' %}
  {% set startPageUrl = '/check' %}
{% endif %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  {% if smartlookKey %}
    {% block smartlook %}
      <script type='text/javascript'>
      {% include "common/smartlook.js" %}
      </script>
    {% endblock %}
  {% endif %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: homepageUrl,
    serviceName: serviceName,
    serviceUrl: startPageUrl or homepageUrl
  }) }}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="' + feedbackLink + '">feedback</a> will help us to improve it.',
    classes: 'govuk-width-container'
  }) }}
  <link rel="stylesheet" href="/public/stylesheets/index.css">
{% endblock %}

{% block beforeContent %}
  {% if options.lastPage %}
    {{ govukBackLink({
      text: "Back",
      href: options.lastPage
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
{% set footerHtml %}
  <h2 class="govuk-heading-m">Get help</h2>

  <p class="govuk-!-font-size-16">Email: <a href="mailto:digitalland@communities.gov.uk">digitalland@communities.gov.uk</a></br>
  You’ll get a response within 5 working days.</p>

  <hr class="govuk-section-break govuk-section-break--l">
  <ul class="govuk-footer__inline-list">
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/accessibility">
        Accessibility
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/privacy-notice">
        Privacy
      </a>
    </li>
    <li class="govuk-footer__inline-list-item">
      <a class="govuk-footer__link" href="/cookies">
        Cookies
      </a>
    </li>
  </ul>
  {% endset %}

  {{ govukFooter({
  meta: {
    html: footerHtml
  }
  }) }}
{% endblock %}

{% block bodyEnd %}
    {{ super()}}
  {%block scripts %}
    <script type="module" src="/assets/all.js"></script>
    <script type="module">
      window.GOVUKPrototypeComponents.initAll()
    </script>
    {{ super() }}
    <script src="/public/js/application.bundle.js"></script>

    {% if googleAnalyticsMeasurementId %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsMeasurementId }}"></script>
      <script type='text/javascript'>
        {% include "common/google-analytics.js" %}
      </script>
    {% endif %}
  {% endblock %}
{% endblock %}
