{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk/template.njk" %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}

{% if serviceType %}
  {% set serviceName = serviceType | getFullServiceName  %}
{% endif %}

{% block pageTitle %}
  {% if pageName == "" %}
    {{ serviceName }}
  {% else %}
    {{ pageName }} - {{ serviceName }}
  {% endif %}
{% endblock %}

<!-- For now I'm adding this manual check as we want the service to go back to the start page of check, however we will eventually remove the check start page -->
{% if serviceType | lower == 'check' %}
  {% set startPageUrl = '/check' %}
{% endif %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  {% if smartlookKey %}
    {% block smartlook %}
      <script type='text/javascript'>
      {% include "common/smartlook.js" %}
      </script>
    {% endblock %}
  {% endif %}
{% endblock %}

{% block header %}
  {% include "components/cookie-banner.html" %}
  {% include 'components/app-header.html' %}
{% endblock %}

{% block beforeContent %}
  {% if options.lastPage %}
    {{ govukBackLink({
      text: options.backLinkText | default("Back"),
      href: options.lastPage
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "components/app-footer.html" %}
{% endblock %}

{% block bodyEnd %}
    {{ super()}}
  {% block scripts %}
    <body>
      <script type="module" src="/assets/all.js"></script>
      <script type="module">
        window.GOVUKPrototypeComponents.initAll()
      </script>
    </body>
    {{ super() }}
    <script src="/public/js/application.bundle.js"></script>
  {% endblock %}
{% endblock %}