{% extends "layouts/main.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set serviceType = 'Check' %}
{% set pageName = 'Check your answers' %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-xl">
      Check your answers before submitting your dataset
    </h1>

    {{ govukSummaryList({
      rows: [
      {
        key: {
          text: "Local planning authority"
        },
        value: {
          text: values['lpa']
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/lpa-details",
            text: "Change",
            visuallyHiddenText: "local planning authority"
          }
          ]
        }
      },
      {
        key: {
          text: "Full name"
        },
        value: {
          text: values['name']
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/lpa-details",
            text: "Change",
            visuallyHiddenText: "full name"
          }
          ]
        }
      },
      {
        key: {
          text: "Email address"
        },
        value: {
          text: values['email']
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/lpa-details",
            text: "Change",
            visuallyHiddenText: "email address"
          }
          ]
        }
      },
      {
        key: {
          text: "Dataset"
        },
        value: {
          text: values['dataset'] | datasetSlugToReadableName
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/choose-dataset",
            text: "Change",
            visuallyHiddenText: "dataset"
          }
          ]
        }
      },
      {
        key: {
          text: "Dataset URL"
        },
        value: {
          text: values['endpoint-url']
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/dataset-details",
            text: "Change",
            visuallyHiddenText: "dataset URL"
          }
          ]
        }
      },
      {
        key: {
          text: "Documentation URL"
        },
        value: {
          text: values['documentation-url']
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/dataset-details",
            text: "Change",
            visuallyHiddenText: "documentation URL"
          }
          ]
        }
      },
      {
        key: {
          text: "Dataset provided under Open Government Licence?"
        },
        value: {
          text: "True" if values['hasLicence'] == "true" else "False"
        },
        actions: {
          items: [
          {
            href: "/submit-endpoint/choose-dataset",
            text: "Change",
            visuallyHiddenText: "dataset"
          }
          ]
        }
      }
      
      ]
    }) }}

    <h2 class="govuk-heading-m">
      If this looks correct you can submit your dataset
    </h2>

    <p>
      Check everything above is correct and click below to submit your dataset.
    </p>

    <form method="post" novalidate>

      {{ govukButton({
        text: "Submit dataset"
      }) }}

    </form>

  </div>
</div>
{% endblock %}