{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro alternativeSourceNotice(organisation, dataset) %}
  <section>
    <p class="govuk-body">Your organisation is the authoritative source of this data.</p>
    <p class="govuk-body">Right now, this data is from an alternative source.</p>
    <p class="govuk-body">Alternative sources are third party sources which have not been provided by you as the authoritative organisation.</p>
    <p class="govuk-body">To become the authoritative source of this data. <a href="/organisations/{{ organisation.organisation }}/{{ dataset.dataset }}/get-started">Follow the steps in your task list</a> to publish it on your website and let us know where we can collect it.</p>
    <p class="govuk-body">To help you get started, you can download the data to review it.</p>
    <p class="govuk-body">If you need to, you can edit the data before you publish it on your website.</p>
    {{ govukButton({
      text: "Download alternative source data",
      <!--TODO: Tie this in to a download link-->
      href: "" 
    }) }}
  </section>
{% endmacro %}
