{% from 'govuk/components/header/macro.njk' import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ govukHeader({
  homepageUrl: mainWebsiteUrl,
  classes: 'govuk-header--full-width-border'
}) }}

{% set navigationItems = navigationItems or [] %}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: startPageUrl or homepageUrl,
  navigation: navigationItems
}) }}

{% if currentPath != '/' %}
  {% set phaseBannerClasses = 'govuk-width-container' %}
  {% include "components/app-phase-banner.html" %}
{% endif %}

