{% macro noticeHeading(datasetName, notice) %}
  {% if notice.type == 'due' %}
    You must update this dataset by {{notice.deadline}}
  {% elseif notice.type == 'overdue' %}
    Your {{datasetName | datasetSlugToReadableName}} dataset is overdue
  {% endif %}
{% endmacro %}

{% macro noticeHint(notice) %}
  {% if notice.type == 'overdue' %}
    It was due on {{notice.deadline}}
  {% endif %}
{% endmacro %}

{% macro noticeLink(organisation, slug) %}
  <a class="govuk-notification-banner__link" href="/organisations/{{organisation}}/{{slug}}/get-started">Follow the steps and check your data meets the specifications before you publish and submit it</a>.
{% endmacro %}