name: Run Tests and Lint Files
"on": push
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
              npm ci
              npm run lint
  
  test:
    runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - run: |
                npm ci
                npm run test